.body .section {
    text-align: center;
    border-bottom: 6px solid #0198ca
}

.body .chars.section {
    background-color: #3b4a82;
    background-repeat: no-repeat;
    background-image: url(http://overwatch.nos.netease.com/1/images/home/header-bg-1104.jpg);
    position: relative;
    padding: 0;
    padding-top: 83rem;
    background-position: center -100px
}

.body .chars.section:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 200ms opacity ease;
    transition-delay: 300ms;
    background-repeat: no-repeat;
    background-image: url(http://overwatch.nos.netease.com/1/images/home/header-bg-blurred-1104.jpg);
    background-position: center -100px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0
}

.body .chars.section.overlay-ready .character-overlay-wrap .character-overlay, .body .chars.section.overlay-ready .character-overlay-wrap .character-overlay-text, .body .chars.section.overlay-ready .character-overlay-wrap .character-overlay-text-border {
    display: block;
    visibility: hidden
}

.body .chars.section .character-overlay-wrap {
    overflow: hidden;
    width: 100%;
    text-align: center;
    height: 95%;
    top: 5%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    z-index: 0
}

.body .chars.section .character-overlay-wrap.loading {
    background: url(http://overwatch.nos.netease.com/1/images/layout/preload.gif) no-repeat center 40%
}

.body .chars.section .character-overlay-wrap .character-overlay, .body .chars.section .character-overlay-wrap .character-overlay-text, .body .chars.section .character-overlay-wrap .character-overlay-text-border {
    display: none;
    -webkit-animation-name: fadeout-right;
    animation-name: fadeout-right;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transition: 300ms visibility ease
}

.body .chars.section .character-overlay-wrap .character-overlay {
    height: 100%;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain
}

.body .chars.section .character-overlay-wrap .character-overlay-text-border {
    border-right: 5px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    top: 20%;
    left: 60%;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms
}

.body .chars.section .character-overlay-wrap .character-overlay-text-border.overlay-loaded {
    -webkit-animation-name: fadein-bounce-left;
    animation-name: fadein-bounce-left;
    visibility: visible
}

.body .chars.section.overlay-loaded:before {
    opacity: 1;
    transition-delay: 0
}

.body .chars.section .character-overlay-wrap .character-overlay-text {
    line-height: 30px;
    position: relative;
    display: inline-block;
    background: url(http://overwatch.nos.netease.com/1/images/layout/blue-px1.png) repeat;
    border-radius: 10px;
    width: auto;
    padding: 1rem 2rem
}

.section-header {
    font-size: 6.2rem;
    line-height: 6.2rem;
    font-weight: 400;
    text-shadow: 2.5px -2px .5px rgba(35, 31, 32, .1), -2.5px 2px .5px rgba(35, 31, 32, .1), -2.5px -2px .5px rgba(35, 31, 32, .1), 2.5px 2px .5px rgba(35, 31, 32, .1);
    transform: skew(-.25rad)
}

.body .chars.section .character-overlay-wrap .character-overlay-text .character-overlay-text-label {
    font-size: 1.8rem;
    text-align: left;
    margin-top: 1rem;
    display: block;
    text-transform: uppercase
}

.body .chars.section .character-overlay-wrap .character-overlay-text .character-overlay-text-label p {
    color: #00c3ff;
    display: inline-block;
    margin: 0 0 0 .1rem
}

.body .chars.section .character-overlay-wrap .character-overlay-text.overlay-loaded {
    -webkit-animation-name: fadein-bounce-left;
    animation-name: fadein-bounce-left;
    visibility: visible
}

.body .chars.section.overlay-loaded .character-overlay-wrap .character-overlay {
    -webkit-animation-name: fadein-left;
    animation-name: fadein-left;
    visibility: visible
}

.chars-con {
    position: relative;
    width: 100%;
    min-height: 280px
}

.body .chars.section .tagline {
    position: relative;
    width: 100%;
    font-weight: 400;
    font-size: 62px;
    line-height: 80px;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-transform: skew(-.25rad);
    -ms-transform: skew(-.25rad);
    transform: skew(-.25rad)
}

.body .chars.section .selection-wrap {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 2.5em 0 3em
}

.body .chars.section .selection-item {
    display: inline
}

/
/
.body .chars.section .selection-item:nth-child(8):after {
/ / display: none / /
}

.body .chars.section .selection-item:nth-child(14):after {
    content: "\A";
    white-space: pre
}

.body .chars.section .selection-link-wrap {
    margin-bottom: 1rem;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    -webkit-transform: skew(-.25rad);
    -ms-transform: skew(-.25rad);
    transform: skew(-.25rad)
}

.body .chars.section .selection-link-wrap .nametag {
    position: relative;
    font-size: 1.4rem;
    color: #fff;
    display: block;
    margin-top: 0;
    margin-right: -.5em;
    margin-bottom: 0;
    margin-left: -.5em;
    padding-top: 4.2px;
    -webkit-transform: skew(0.25rad);
    -ms-transform: skew(0.25rad);
    transform: skew(0.25rad)
}

.body .chars.section .portrait-wrap {
    display: block;
    overflow: hidden;
    width: 78px;
    height: 78px;
    border: 4px solid #fff;
    border-left: none;
    border-right: none;
    border-radius: 10px
}

.body .chars.section .portrait-wrap .portrait {
    display: block;
    background-color: #343b5e;
    -webkit-transform: skew(0.25rad);
    -ms-transform: skew(0.25rad);
    transform: skew(0.25rad);
    position: relative;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 110%;
    -webkit-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s
}

.body .chars.section .selection-item.is-highlighted .portrait {
    -webkit-animation-name: background-black-to-yellow;
    animation-name: background-black-to-yellow;
    -webkit-animation-duration: 1200ms;
    animation-duration: 1200ms;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse
}

.body .chars.section .selection-link {
    display: block
}

.body .chars.section .selection-link:hover .portrait {
    background-color: #ffc70e;
    -webkit-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s
}

.body .video-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 10px;
    transition: all 200ms
}

.body .video-overlay:hover {
    border-radius: 10px;
    border-color: #fff;
    box-shadow: inset 0 0 50px #00c3ff;
    -moz-box-shadow: inset 0 0 50px #00c3ff;
    -webkit-box-shadow: inset 0 0 50px #00c3ff
}

.video-wrap .video-overlay .video-overlay-icon {
    -webkit-transform: skew(0.25rad);
    -ms-transform: skew(0.25rad);
    transform: skew(0.25rad);
    height: 100%;
    width: 100%;
    background: url(http://overwatch.nos.netease.com/1/images/layout/play-small.png) no-repeat 50% 50%
}

.video-wrap:hover .video-overlay .video-overlay-icon {
    background-image: url(http://overwatch.nos.netease.com/1/images/layout/play-small-hover.png)
}

.videos .video-wrap .video-overlay .video-overlay-icon {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.body .chars.section .u-pull-left, .body .chars.section .u-pull-right {
    max-width: 286px;
    width: 22%;
    position: absolute;
    top: 0
}

.body .chars.section .u-pull-left {
    margin-left: -3%;
    left: 0
}

.body .chars.section .u-pull-right {
    right: 0;
    margin-right: -3%
}

.body .chars.section .u-pull-left video {
    left: -16%;
    margin-top: -11%;
    min-height: 100%;
    width: 140%
}

.body .chars.section .u-pull-right video {
    margin-top: -11%;
    min-height: 100%;
    right: 20%;
    width: 120%
}

.body .chars.section .trailer-wrap {
    -webkit-transform: skew(-.25rad);
    -ms-transform: skew(-.25rad);
    transform: skew(-.25rad);
    overflow: hidden;
    background: url(http://overwatch.nos.netease.com/1/images/layout/white-px1.png) repeat;
    border-radius: 10px;
    padding: 2px;
    z-index: 100;
    position: relative
}

.body .chars.section .trailer-wrap .video-wrap-container {
    border-radius: 10px
}

.body .chars.section .trailer-wrap .video-wrap-container:hover {
    box-shadow: 0 0 0 2pt #fff, inset 0 0 0 2pt #fff
}

.body .chars.section .trailer-wrap .video-wrap {
    border: none
}

.body .chars.section .trailer-wrap .video-title {
    -webkit-transform: skew(0.25rad);
    -ms-transform: skew(0.25rad);
    transform: skew(0.25rad);
    text-transform: uppercase;
    line-height: 24px;
    display: block
}

.video-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    cursor: pointer;
    height: 0;
    padding-bottom: 56.25%
}

.video-wrap video {
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-transform: skew(0.25rad);
    -ms-transform: skew(0.25rad);
    transform: skew(0.25rad)
}

.masked, video {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)
}

.video-title {
    color: #000;
    font-size: 1.6rem;
    padding: .3rem 0;
    text-shadow: none
}

.body .videos.section .video-wrap {
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin: 1rem 0 4rem
}

.body .news.section {
    background: #0c0d11 url(http://overwatch.nos.netease.com/1/images/home/news-bg.jpg) no-repeat top center;
    background-size: cover;
    padding: 5rem 0
}

.body .news.section .list {
    -webkit-transform: skew(-.25rad);
    -ms-transform: skew(-.25rad);
    transform: skew(-.25rad)
}

.body .news.section a {
    color: #fff;
    cursor: pointer
}

.body .news.section a:hover .news-wrap {
    background: rgba(16, 45, 70, .8);
    -webkit-transition: all .4s;
    transition: all .4s
}

.body .news.section .news-wrap {
    display: block;
    width: 90%;
    border: 4px solid #fff;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 4rem;
    background: #0b1d2f;
    -webkit-transition: all .4s;
    transition: all .4s
}

.body .news.section .news-wrap .con {
    display: block;
    -webkit-transform: skew(0.25rad);
    -ms-transform: skew(0.25rad);
    transform: skew(0.25rad)
}

.body .news.section .news-wrap .con .date, .body .news.section .news-wrap .con .desc, .body .news.section .news-wrap .con h3 {
    position: relative;
    text-align: left;
    display: block;
    padding: 6%
}

.body .news.section .news-wrap .con h3 {
    font-size: 1.6rem;
    left: 12%
}

.body .news.section .news-wrap .con .desc {
    left: -5%
}

.body .news.section .news-wrap .con .date {
    padding-left: 1.6rem;
    left: -5%;
    background: url(http://overwatch.nos.netease.com/1/images/layout/icon/home-news-icon.gif) no-repeat 0 50%
}

.body .news.section .news-wrap .con .news-image {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 0;
    padding-top: 40%;
    left: -10%;
    width: 120%
}

.body .news.section .news-wrap-h {
    display: block;
    margin-bottom: 3rem
}

.body .news.section .news-wrap-h .news-image-h {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60%;
    height: 0;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #fff;
    border-left: none;
    border-right: none;
    -webkit-transform: skew(-.25rad);
    -ms-transform: skew(-.25rad);
    transform: skew(-.25rad)
}

.body .news.section .news-wrap-h .conWrap {
    margin-left: 10%;
    vertical-align: top;
    display: inline-block
}

.body .news.section .news-wrap-h .conWrap h3 {
    font-weight: 700;
    font-size: 1.6rem
}

.body .news.section .news-wrap-h .conWrap .desc {
    margin: 1rem 0
}

.body .news.section .news-wrap-h .conWrap .date {
    padding-left: 1.6rem;
    background: url(http://overwatch.nos.netease.com/1/images/layout/icon/home-news-icon.gif) no-repeat 0 50%
}

.body .news.section .g-wrap-limit {
    padding: 0 5%
}

.body .news.section .more-btn {
    padding: 0 5rem;
    display: block;
    color: #511616
}

.body .explore.section {
    background: url(http://overwatch.nos.netease.com/1/images/home/explore-bg.jpg) no-repeat top center;
    background-size: cover;
    padding: 21.1rem 0;
    font-size: 3.2rem
}

.body .explore.section .explore-link {
    text-transform: uppercase
}

.body .explore.section .explore-link .icon {
    top: -2px;
    left: 10px
}

.icon {
    display: block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

i.icon {
    display: inline-block;
    height: 36px;
    width: 36px;
    margin: 0;
    padding: 0;
    vertical-align: middle
}

i.icon.double-arrow-yellow {
    background-image: url(http://overwatch.nos.netease.com/1/images/layout/arrow-yellow.png)
}

@-webkit-keyframes side-content-slide-left {
    100% {
        -webkit-transform: translate3d(270px, 0, 0);
        transform: translate3d(270px, 0, 0);
        display: none
    }
}

@keyframes side-content-slide-left {
    100% {
        -webkit-transform: translate3d(270px, 0, 0);
        transform: translate3d(270px, 0, 0);
        display: none
    }
}

@-webkit-keyframes fadein-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(160px, 0, 0);
        transform: translate3d(160px, 0, 0)
    }
    100% {
        opacity: 1
    }
}

@keyframes fadein-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(160px, 0, 0);
        transform: translate3d(160px, 0, 0)
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeout-right {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(160px, 0, 0);
        transform: translate3d(160px, 0, 0)
    }
}

@keyframes fadeout-right {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(160px, 0, 0);
        transform: translate3d(160px, 0, 0)
    }
}

@-webkit-keyframes fadein-bounce-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(160px, 0, 0);
        transform: translate3d(160px, 0, 0)
    }
    60% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
}

@keyframes fadein-bounce-left {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(160px, 0, 0);
        transform: translate3d(160px, 0, 0)
    }
    60% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
}

@-webkit-keyframes background-black-to-yellow {
    0% {
        background-color: rgba(0, 0, 0, .3)
    }
    100% {
        background-color: #ffc70e
    }
}

@keyframes background-black-to-yellow {
    0% {
        background-color: rgba(0, 0, 0, .3)
    }
    100% {
        background-color: #ffc70e
    }
}

[overlay*=promo] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow-y: auto;
    text-align: center;
    font-size: 0;
    visibility: hidden;
    -webkit-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    opacity: 0
}

[overlay*=promo].open {
    visibility: visible;
    opacity: 1
}

[overlay*=promo]:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

[overlay*=promo] .inner {
    width: 90%;
    max-width: 2560px;
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    position: relative;
    z-index: 99;
    background: #000;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .75);
    box-sizing: border-box
}

[overlay*=promo] .inner .close.x {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    cursor: pointer;
    background-image: url(http://overwatch.nos.netease.com/1/images/home/button-close-sprite.png);
    background-repeat: no-repeat;
    z-index: 99
}

[overlay*=promo] .inner .close.x:hover {
    background-position: -66px 0
}

[overlay*=promo] .blackout {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(0, 0, 0, .8);
    z-index: 98
}

[overlay*=promo] .top {
    padding-bottom: 49.5703%;
    position: relative;
    width: 100%
}

[overlay*=promo] .top .actions {
    position: absolute;
    bottom: 0;
    width: 50%;
    margin-bottom: 13%;
    padding-right: 5%;
    padding-left: 5%;
    z-index: 1;
    text-align: left
}

[overlay*=promo] .top .actions.h-right {
    right: 0;
    text-align: right
}

[overlay*=promo] .top .actions .box {
    -webkit-transform: skew(-.25rad);
    -ms-transform: skew(-.25rad);
    transform: skew(-.25rad);
    display: inline-block;
    *display: block;
    text-align: left
}

[overlay*=promo] .top .actions .box h1 {
    color: #ffd81c;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, .29);
    font-weight: 300;
    letter-spacing: -.025em;
    line-height: 1;
    font-size: 85px;
    margin: 5px 0
}

[overlay*=promo] .top .actions .box h2 {
    color: #fff;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, .29);
    font-family: BigNoodleToo, impact, sans-serif;
    font-size: 150px;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1
}

[overlay*=promo] .top .actions .box .btn {
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
    background-color: #ffc70e;
    padding: 12px 40px;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(255, 78, 0, .5);
    transition: all 100ms linear;
    margin-top: 15px
}

[overlay*=promo] .top .actions .box .btn span {
    color: #511616;
    font-size: 30px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase
}

[overlay*=promo] .top .actions .box .btn:hover {
    background-color: #fff
}

[overlay*=promo] .top .showVideo, [overlay*=promo] .top .videoWrap {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: url(http://overwatch.nos.netease.com/1/images/common/opacity-1px.png) repeat
}

.top .videoWrap {
    opacity: 0
}

[overlay*=promo] .top .img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0
}

[overlay*=promo] .btm {
    padding: 2.34375% 0;
    background-image: url(http://overwatch.nos.netease.com/1/images/home/prom-btm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    position: relative
}

[overlay*=promo] .btm hr {
    height: 2px;
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, .25);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    border: 0;
    background-image: none;
    padding: 0
}

[overlay*=promo] .btm .text {
    -webkit-transform: skew(-.25rad);
    -ms-transform: skew(-.25rad);
    transform: skew(-.25rad);
    padding-right: 58px;
    color: #ffd81c;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, .29);
    font-size: 38px;
    font-weight: 300;
    letter-spacing: .01em;
    display: inline-block;
    transition: all 100ms linear;
    cursor: pointer;
    line-height: 41px;
    position: relative
}

[overlay*=promo] .btm .text:after {
    -webkit-transform: skew(0.25rad);
    -ms-transform: skew(0.25rad);
    transform: skew(0.25rad);
    background-image: url(http://overwatch.nos.netease.com/1/images/home/prom-arrows.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px 41px;
    width: 38px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    content: ''
}

[overlay*=promo] .btm .text:hover {
    color: #fff
}

@media (max-height: 955px) {
    [overlay*=promo] .inner {
        width: 80%
    }
}

@media only screen and (max-width: 1681px) {
    [overlay*=promo] .top .actions .box h1 {
        font-size: 65px
    }

    [overlay*=promo] .top .actions .box h2 {
        font-size: 104px
    }

    [overlay*=promo] .top .actions {
        margin-bottom: 12%
    }

    .body .chars.section {
        background-position: center -80px;
        background-size: 150% auto;
        padding-top: 48%
    }

    .body .chars.section:before {
        background-size: 150% auto;
        background-position: center -80px
    }

    .body .chars.section .selection-item:nth-child(14):after {
        display: none
    }

    .body .chars.section .selection-item:nth-child(7):after {
        content: "\A";
        white-space: pre
    }

    .body .chars.section .tagline {
        font-size: 56px
    }

    .body .chars.section .portrait-wrap {
        width: 90px;
        height: 90px
    }
}

@media only screen and (max-width: 1400px) {
    [overlay*=promo] .top .actions .box h1 {
        font-size: 55px
    }

    [overlay*=promo] .top .actions .box h2 {
        font-size: 89px
    }

    [overlay*=promo] .top .actions .box .btn span {
        font-size: 20px
    }

    [overlay*=promo] .btm .text {
        font-size: 28px
    }

    [overlay*=promo] .top .actions {
        margin-bottom: 11%
    }

    .body .chars.section {
        background-position: center -60px;
        background-size: 150% auto;
        padding-top: 48%
    }

    .body .chars.section:before {
        background-size: 150% auto;
        background-position: center -60px
    }

    .body .chars.section .selection-link-wrap {
        margin-right: 5px;
        margin-left: 5px
    }
}

@media only screen and (max-width: 1200px) {
    .body .chars.section {
        padding-top: 52%;
        background-size: 150% auto;
        background-position: center -40px
    }

    .body .chars.section:before {
        background-size: 150% auto;
        background-position: center -40px
    }

    .pure-menu-item.logo {
        height: 83px;
        margin-left: -20px;
        margin-right: -18px;
        width: 120px;
        background-image: url(http://overwatch.nos.netease.com/1/images/layout/logo-home-768.png)
    }

    .pure-menu-item {
        margin-top: -2px
    }

    .pure-menu-item.logo {
        margin-top: -1px
    }

    .pure-menu-item .menu-btn-inner span {
        padding: 6px 0
    }

    .body .chars.section .tagline {
        font-size: 48px
    }

    .body .chars.section .selection-link-wrap {
        margin-right: 3px;
        margin-left: 3px
    }

    .body .explore.section {
        padding: 142px 0
    }
}

@media only screen and (max-width: 1024px) {
    [overlay*=promo] .top .actions {
        margin-bottom: 10%
    }

    [overlay*=promo] .top .actions .box h1 {
        font-size: 40px
    }

    [overlay*=promo] .top .actions .box h2 {
        font-size: 65px
    }

    [overlay*=promo] .top .actions .box .btn span {
        font-size: 15px
    }

    [overlay*=promo] .btm .text:after {
        background-size: 28px 31px;
        width: 28px
    }

    [overlay*=promo] .btm .text {
        font-size: 25px;
        padding-right: 40px
    }

    .body .chars.section {
        padding-top: 53%;
        background-size: 150% auto;
        background-position: center -10px
    }

    .body .chars.section:before {
        background-size: 150% auto;
        background-position: center -10px
    }

    .body .chars.section .portrait-wrap {
        width: 70px;
        height: 70px
    }

    .body .chars.section .selection-item:nth-child(7):after {
        display: none
    }

    .body .chars.section .selection-item:nth-child(14):after, .body .chars.section .selection-item:nth-child(6):after {
        content: "\A";
        white-space: pre
    }
}

@media only screen and (max-width: 768px) {
    [overlay*=promo].open {
        visibility: hidden;
        opacity: 0
    }

    .pure-menu-item.logo {
        height: 10.8rem;
        width: 12.5rem
    }

    .body .chars.section {
        background-image: url(http://overwatch.nos.netease.com/1/images/home/header-760-bg-1104.jpg);
        background-size: cover;
        padding-top: 145%;
        background-position: center 15%
    }

    .body .chars.section .tagline {
        font-size: 4rem
    }

    .body .chars.section .selection-wrap {
        padding: 1.5rem
    }

    .body .chars.section .selection-link-wrap {
        height: 80px;
        width: 80px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 4rem
    }

    .body .chars.section .portrait-wrap {
        height: 80px;
        width: 80px
    }

    .body .chars.section .selection-item:nth-child(14):after, .body .chars.section .selection-item:nth-child(6):after, .body .chars.section.overlay-loaded .character-overlay-wrap, .body .chars.section.overlay-loaded:before, .body .chars.section:before {
        display: none
    }

    .body .chars.section .selection-link-wrap .nametag {
        font-size: 1.6rem
    }

    .body .chars.section .character-overlay-wrap.loading {
        background: 0 0
    }

    .body .videos.section {
        padding: 3.2rem 1.6rem;
        width: 100%;
        background-image: url(http://overwatch.nos.netease.com/1/images/home/trailer-bg.jpg);
        background-size: cover
    }

    .body .videos.section h3 {
        font-size: 2.1rem
    }

    .body .videos.section .video-wrap {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 0;
        border: none;
        height: 0;
        padding-bottom: 56.25%
    }

    .video-wrap video {
        -webkit-transform: skew(0);
        -ms-transform: skew(0);
        transform: skew(0)
    }

    .body .news.section {
        padding: 1.6rem 0;
        background: #0c0d11 url(http://overwatch.nos.netease.com/1/images/home/news-bg-760px.jpg) no-repeat scroll center top
    }

    .body .news.section .g-wrap-limit {
        padding: 1.6rem
    }

    .body .news.section .news-wrap-h .news-image-h {
        padding-top: 70%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }

    .body .news.section .news-wrap-h .conWrap {
        margin-left: 5%
    }

    .btn-lg {
        font-size: 1.8rem
    }

    .body .explore.section {
        padding: 8rem 0;
        background: url(http://overwatch.nos.netease.com/1/images/home/explore-bg-760px.jpg) no-repeat scroll center top / cover
    }
}

@media only screen and (max-width: 640px) {
    .body .chars.section {
        background-image: url(http://overwatch.nos.netease.com/1/images/home/header-640-bg-1104.jpg);
        background-size: 120% auto;
        padding-top: 175%;
        background-position: center 15%
    }

    .body .chars.section .tagline {
        font-size: 3rem
    }

    .body .chars.section .selection-wrap {
        padding: 1.5rem 1.2rem
    }

    .body .chars.section .selection-link-wrap {
        height: 80px;
        width: 80px;
        margin-left: 3px;
        margin-right: 3px;
        -webkit-transform: none;
        transform: none
    }

    .body .chars.section .portrait-wrap {
        height: 80px;
        width: 80px
    }

    .body .chars.section .portrait-wrap .portrait, .body .chars.section .selection-link-wrap .nametag {
        -webkit-transform: none;
        transform: none
    }
}