* {
  padding: 0;
  margin: 0
}

*, :after, :before {
  box-sizing: border-box
}

html {
  font-size: 62.5%;
  box-sizing: border-box
}

body {
  font-size: 1.4rem;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif
}

ol, ul {
  list-style-type: none
}

img {
  height: auto
}

a {
  text-decoration: none
}

a:link, a:visited {
  outline: 0
}