.icon {
  display: block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}

i.icon {
  display: inline-block;
  height: 36px;
  width: 36px;
  margin: 0;
  padding: 0;
  vertical-align: middle
}

@media only screen and (max-width: 105em) {
  i.icon {
    height: 34px;
    width: 34px
  }
}

@media only screen and (max-width: 75em) {
  i.icon {
    height: 34px;
    width: 34px
  }
}

@media only screen and (max-width: 30em) {
  i.icon {
    height: 26px;
    width: 26px
  }
}

@media only screen and (max-width: 20em) {
  i.icon {
    height: 18px;
    width: 18px
  }
}

i.icon.hero-card {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/icon-stats01.png)
}

i.icon.briefcase {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/icon-stats02.png)
}

i.icon.globe {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/icon-stats03.png)
}

i.icon.badge {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/icon-stats04.png)
}

i.icon.double-arrow {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/arrow-right.png)
}

i.icon.double-arrow-left {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/arrow-left.png)
}

i.icon.double-arrow-right {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/arrow-right.png)
}

i.icon.double-arrow-down {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/arrow-bottom.png)
}

i.icon.double-arrow-yellow {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/arrow-yellow.png)
}

i.icon.x {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/exit.png)
}

i.icon.warning-icon {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/icon-error-lg.png)
}

i.icon.role-offense {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/role-offense.png);
  top: -3px
}

i.icon.role-defense {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/role-defense.png);
  top: -2px
}

i.icon.role-support {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/role-support.png);
  top: -2px
}

i.icon.role-tank {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/role-tank.png);
  top: -2px
}

i.icon.logo {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/game.png);
  height: 100px;
  width: 100px
}

i.icon.franchise-d3 {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/d3.png)
}

i.icon.franchise-d3-mono {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/d3-mono.png)
}

i.icon.franchise-hots {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/hots.png)
}

i.icon.franchise-hots-mono {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/hots-mono.png)
}

i.icon.franchise-hs {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/hs.png)
}

i.icon.franchise-hs-mono {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/hs-mono.png)
}

i.icon.franchise-sc2 {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/sc2.png)
}

i.icon.franchise-sc2-mono {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/sc2-mono.png)
}

i.icon.franchise-wow {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/wow.png)
}

i.icon.franchise-wow-mono {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/wow-mono.png)
}

i.icon.franchise-ow {
  background-image: url(http://overwatch.nos.netease.com/1/images/icon/ow.png)
}

i.icon.cross {
  background-image: url(http://overwatch.nos.netease.com/1/images/buy/cross.png)
}

i[class*=" icon-"], i[class^=icon-] {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  width: 1em;
  height: 1em;
  overflow: hidden
}
